# yup yup creating very first pipeline

name: Nasa project CI

# controles when the workflow will run, on push and pull requesta
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    # let create react app know that the script is being use in CI environment and will disable the "watch mode" from the tests (won't quit tests otherwise)
    env:
      CI: true
      MONGO_URL: mongodb://localhost/nasa
    # to test build in different environment
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        mongodb-version: ["6.6"]
    #for meself TO DO: runs on with mongodb not working with windows (supercharge only works on linux)
    runs-on: ubuntu-latest
    steps:
      # the following actions (uses) are scripts made available for users on github actions
      - uses: actions/checkout@v2
      - name: use Node.js version ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      # will allow us to test connection to MongoDB by starting a MongoDB server specifically for the current job
      # making this db available on localhost for our CI server
      - name: MongoDB in GitHub Actions
        uses: supercharge/mongodb-github-action@1.9.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - run: npm install
      - run: npm run build --prefix client
      - run: npm test
  # needs build means it will deploy only if build's succeded
  # deploy:
  #   needs: build
